doc/html
webgen.cache
*.sw?
*.o
*.so
orocos.log
.orogen
ext/build
test/data/prefix
test/data/*/.gitignore
test/working_copy
build/
*.ior
*autobuild-stamp
*.log
test/roby/*.txt
*_ui.rb
doc
logs/
coverage/
.yardoc


tmp/
syskit-0.1.gem
