<div id="ports">
<h2>Ports</h2>

<% if @ports.empty? %>
No ports
<% else %>
<table>
<thead><th>Port</th><th>Direction</th><th>Type</th><th>Description</th></thead>

<% @ports.each do |p| %>
    <tr>
    <td><%= linkify("#{p["name"]}_port", p["name"]) %></td>
    <td><%= p["direction"] %></td>
    <td><%= linkify("Types" + p["type"].gsub("/", "::"), p["type"]) %></td>
    <td><%= p["doc"] %></td>
    </tr>
<% end %>
</table>
</div>
<% end %>