<div id="ports">
<h2>Ports</h2>

<table>
<thead><th>Port</th><th>Direction</th><th>Type</th><th>Description</th></thead>

<% @ports.each do |p| %>
    <tr>
    <td><%= p["name"] %></td>
    <td><%= p["direction"] %></td>
    <td><%= p["type"] %></td>
    <td><%= p["doc"] %></td>
    </tr>
<% end %>
</table>
</div>